<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.run_script_on_boot</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>rm -rf "/Users/$USER/Library/Application Support/Firefox/Profiles/"*.default/storage/*</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>